<a href="https://colab.research.google.com/github/M-Chero/Growth-Projects/blob/main/Attrition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [26]:
df = pd.read_csv('HR Employee Attrition.csv')

In [27]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [86]:
# Specify the categorical columns
categorical_cols = ['BusinessTravel', 'EducationField', 'Department']

# Encode the categorical columns using the OneHotEncoder
encoder = OneHotEncoder(sparse=False)
x_train_encoded = encoder.fit_transform(x_train[categorical_cols])
x_test_encoded = encoder.transform(x_test[categorical_cols])

# Get the feature names from the OneHotEncoder
feature_names = encoder.get_feature_names_out(input_features=categorical_cols)

# Create DataFrames for the encoded training and test data
x_train_encoded = pd.DataFrame(x_train_encoded, columns=feature_names)
x_test_encoded = pd.DataFrame(x_test_encoded, columns=feature_names)

# Calculate the accuracy on the training and test data
acc_train = np.sum(dtc.predict(x_train_encoded) == y_train_encoded) / float(y_train_encoded.size)
acc_test = np.sum(dtc.predict(x_test_encoded) == y_test_encoded) / float(y_test_encoded.size)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

ValueError: ignored

In [87]:
# Concatenate the encoded categorical features with the non-categorical features
x_train_final = pd.concat([x_train_encoded, x_train_non_categorical], axis=1)
x_test_final = pd.concat([x_test_encoded, x_test_non_categorical], axis=1)

# Train the DecisionTreeClassifier on the concatenated data
dtc.fit(x_train_final, y_train_encoded)

# Predict on the concatenated training and test data
train_predictions = dtc.predict(x_train_final)
test_predictions = dtc.predict(x_test_final)

# Calculate the accuracy on the training and test data
acc_train = np.sum(train_predictions == y_train_encoded) / float(y_train_encoded.size)
acc_test = np.sum(test_predictions == y_test_encoded) / float(y_test_encoded.size)

NameError: ignored

In [84]:
categorical_cols= df ['BusinessTravel', 'EducationField','Department','Attrition']

KeyError: ignored

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [31]:
df.drop(['EmployeeCount', 'EmployeeNumber'], axis=1, inplace=True)

In [32]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [34]:
le=LabelEncoder()
df['Attrition']=le.fit_transform(df ['Attrition'])

In [35]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,...,1,80,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,...,4,80,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,...,2,80,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,...,3,80,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,...,4,80,1,6,3,3,2,2,2,2

In [36]:
le=LabelEncoder()
df['BusinessTravel']=le.fit_transform(df ['BusinessTravel'])

In [37]:
le=LabelEncoder()
df['Department']=le.fit_transform(df ['Department'])

In [38]:
le=LabelEncoder()
df['EducationField']=le.fit_transform(df ['EducationField'])

In [39]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,2,Female,...,1,80,0,8,0,1,6,4,0,5
1,49,0,1,279,1,8,1,1,3,Male,...,4,80,1,10,3,3,10,7,1,7
2,37,1,2,1373,1,2,2,4,4,Male,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1,1392,1,3,4,1,4,Female,...,3,80,0,8,3,3,8,7,3,0
4,27,0,2,591,1,2,1,3,1,Male,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,0,1,884,1,23,2,3,3,Male,...,3,80,1,17,3,3,5,2,0,3
1466,39,0,2,613,1,6,1,3,4,Male,...,1,80,1,9,5,3,7,7,1,7
1467,27,0,2,155,1,4,3,1,2,Male,...,2,80,1,6,0,3,6,2,0,3
1468,49,0,1,1023,2,2,3,3,4,Male,...,4,80,0,17,3,2,9,6,0,8
1469,34,0,2,628,1,8,3,3,2,Male,...,1,80,0,6,3,4,4,3,1,2

In [40]:
le=LabelEncoder()
df['Gender']=le.fit_transform(df ['Gender'])

In [41]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,2,0,...,1,80,0,8,0,1,6,4,0,5
1,49,0,1,279,1,8,1,1,3,1,...,4,80,1,10,3,3,10,7,1,7
2,37,1,2,1373,1,2,2,4,4,1,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1,1392,1,3,4,1,4,0,...,3,80,0,8,3,3,8,7,3,0
4,27,0,2,591,1,2,1,3,1,1,...,4,80,1,6,3,3,2,2,2,2

In [43]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [42]:
y=df['Attrition'] #dependent variable

In [46]:
columns = ['BusinessTravel', 'DailyRate', 'Department', 'DistanceFromHome', 'Education', 'EducationField', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Age']
x = df[columns]

In [47]:
x_train,x_test,y_train,y_test= train_test_split(x,y)

In [57]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Create an instance of the OneHotEncoder
encoder = OneHotEncoder()

# Encode the categorical features (x_train)
x_train_encoded = encoder.fit_transform(x_train)

# Create an instance of the LabelEncoder
label_encoder = LabelEncoder()

# Encode the target labels (y_train)
y_train_encoded = label_encoder.fit_transform(y_train)

# Continue with training using the encoded data
dtc = tree.DecisionTreeClassifier()
dtc.fit(x_train_encoded, y_train_encoded)

DecisionTreeClassifier()

In [61]:
y_predict = dtc.predict(x_train_encoded)  # Make predictions on the training set
y_probability = dtc.predict_proba(x_train_encoded)[:, 1]  # Calculate prediction probabilities for the training set

In [63]:
df_train = pd.DataFrame(x_train)

# Add the 'Predict' and 'Probability' columns to the new DataFrame
df_train['Predict'] = y_predict
df_train['Probability'] = y_probability

In [64]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [66]:
df_train.head()

,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,...,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Age,Predict,Probability
755,2,1234,2,11,2,1,4,0,90,3,...,26,4,4,9,3,1,1,45,0,0.0
997,2,135,1,17,4,1,4,0,51,3,...,8,2,3,8,2,7,7,27,1,1.0
648,1,1231,2,21,2,3,3,0,54,3,...,10,3,3,5,4,0,0,37,0,0.0
405,2,688,1,3,3,3,1,1,91,3,...,6,5,3,2,2,0,2,25,1,1.0
70,1,1225,2,1,1,1,1,0,57,2,...,20,2,2,4,3,1,3,59,0,0.0

In [79]:
# Get the feature names from the OneHotEncoder
feature_names = encoder.get_feature_names_out(input_features=categorical_cols)

# Create DataFrames for the encoded training and test data
x_train_encoded = pd.DataFrame(x_train_encoded, columns=feature_names)
x_test_encoded = pd.DataFrame(x_test_encoded, columns=feature_names)

# Calculate the accuracy on the training and test data
acc_train = np.sum(dtc.predict(x_train_encoded) == y_train_encoded) / float(y_train_encoded.size)
acc_test = np.sum(dtc.predict(x_test_encoded) == y_test_encoded) / float(y_test_encoded.size)

ValueError: ignored

In [77]:
acc_train = np.sum(dtc.predict(x_train_encoded)==y_train_encoded)/float(y_train_encoded.size)

ValueError: ignored

In [67]:
acc_train = np.sum(dtc.predict(x_train_encoded)==y_train_encoded)/float(y_train_encoded.size)
acc_test = np.sum(dtc.predict(x_test)==y_test)/float(y_test.size)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

ValueError: ignored